<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo</title>
    <style>
        .lot-block {
            display: inline-block;
            border-bottom: 1px solid #bbb;
            border-right: 1px solid;
            padding: 15px;
            width: 250px;
            height: 200px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="/main">Главная</a></li>
            <li><a href="/chats">Чаты/челы </a></li>
            <li><a href="/registered">Зареганые челы</a></li>
        </ul>
    </header>
    <h1>Лоты</h1>
    {{if .Start }}
    <h2>Аукцион идет...</h2>
    {{ else }}
    <form action="" method="post">
        <input type="hidden" value="start" name="start">
        <button type="submit">Начать аукцион</button>
    </form>
    {{ end }}
    <div class="lots-grid">
    {{ range .Items}}
    <div class="lot-block">
        <h2>Лот {{ .Id }}</h2> {{if (gt .SoldFor 0) }} (ПРОДАНО ЗА {{ .SoldFor }} ) {{ end }}
        <p>Количество ставок {{ .GetBidsCount }}</p>
        {{ if gt .MaxConfirmed 1000 }}
        <p>Последняя ставка {{ .MaxConfirmed }} {{ .MaxBid.Date.Format "15:04:05" }} {{ .MaxBid.Client.TgUsername }}</p>
        {{ end }}
        <a href="/lot{{ .Id }}">Ставки</a>
    </div>

    {{ end }}

    <div>
        <h1>Отправить всем сообщение</h1>
        <form action="" method="post">
            <textarea name="message"></textarea>
            <button type="submit">Отправить всем</button>
            {{ if .Sent }}
            <div>Сообщение отправлено</div>
            {{ end }}
        </form>
    </div>
    </div>
</div>
</body>
</html>