<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/main">Главная</a></li>
            <li><a href="/chats">Чаты/челы </a></li>
        </ul>
    </header>
    <h1>Лоты</h1>

    {{ range .Items}}
    <div>
        <h2>Лот {{ .Id }}</h2>
        <p>Количество ставок {{ .GetBidsCount }}</p>
        <p>Текущая ставка {{.MaxConfirmed }}</p>
        <a href="/lot{{ .Id }}">Ставки</a>
    </div>

    {{ end }}

    <div>
        <h1>Отправить всем сообщение</h1>
        <form action="" method="post">
            <textarea name="message"></textarea>
            <button type="submit">Отправить всем</button>
            {{ if .Sent }}
            <div>Сообщение отправлено</div>
            {{ end }}
        </form>
    </div>

</div>
</body>
</html>